.Form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Form input[type="submit"] {
  width: 100%;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.Title button {
  align-self: center;
}
.FormFields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}
.FormField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: center;
}
.FormField label {
  font-size: 14px;
}
.FormGroup {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.FormField input,
.FormField textarea,
.FormField select {
  width: 100%;
}

.FormField textarea {
  resize: none;
}

.FormFieldError {
  padding-left: 9px;
  font-size: 13px;
  color: Salmon;
}